@font-face {
	font-family:afb;
	src: url('../fonts/Agency_FB.ttf');
}
html,body{
    margin:0px;
    padding:0px;
    width: 100%;
    height:100%;
    overflow: hidden;
}
html,body,div,span,label,a,h1,h2,h3,h4,h5,h6,tr,td{
    font-family:'微软雅黑','黑体','宋体';
    color:#222222;
}
.font_x1{
    font-size: 20em;
    font-weight: bold;
}
.font_x2{
    font-size: 12em;
    font-weight: bold;
}
.font_x3{
    font-size: 10em;
    font-weight: bold;
}
.font_x4{
    font-size: 4em;
    font-weight: bold;
}
.font_x5{
    font-size: 2em;
    font-weight: bold;
    color:#000000;
}

div.main{
    height:100%;
    width:100%;
    display:-webkit-box;
    display: -moz-box;
    display: box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
}
div.main div.head{
    height:120px;
    background-color:#090707;
    position: relative;
}
.title-left{
    color: #FFFFFF;
    font-size: 2em;
}
div.head .data-title {
    width: 100%;
    height: 120px; 
    box-sizing: border-box;
    display:-webkit-box;
    display: -moz-box;
    display: box;
}
div.head .data-title>.fl{ 
    width:calc(50% - 300px);
}
div.head .data-title>.fr{ 
    text-align: right;
    color: #20b879;
    width:calc(50% - 300px);
    font-size:2em; 
    font-weight: bold;
    line-height:180px;
    padding-right:20px;
}
div.head .data-title>.title-center{
    width: 600px; 
    font-size:5em;
    color: #FFFFFF;
    font-weight: bold;
    line-height:130px;
    text-align: center;
}
div.main div.mainbody{
    -webkit-box-flex: 1;
    position: relative;
    display: -webkit-box;
}

div.main div.mainbody .leftpanel{
    width: 30%;
    background-color: #058282; 
}
/*左侧车缝指标看板 start -----*/
table.kpitable{
    width: 100%;
    margin-top: 40px;
}
table.kpitable td{ 
     
}
table.kpitable td.lefttle{
    font-size: 3em;
    font-weight: 600;
    width: 45%; 
    text-align: right;
    color: #d9d9d9;
    font-family: 'afb';
}
table.kpitable td.rightval{
    font-size: 4em;
    font-weight: 600;
    width: 55%;
    font-family: 'afb';
    text-align: left;
    text-shadow: 0 0 25px #05f3f3;
}
table.kpitable td.rightval.light{
    color: #ff6969;
}
/*左侧车缝指标看板 end -----*/

div.main div.mainbody .rightpanel{
    -webkit-box-flex: 1; 
    display: -webkit-box;
}
div.main div.content{
    -webkit-box-flex: 1;
    position: relative;
}
.pageitem{
    width: 100%;
    height:100%;
    display: none;
    position: absolute;
    left:0px;
    top:0px;
}
.pageitem.actived{
    display: block;
}
/*common-----------------------start*/
.bg_green{
    background-color: #20b879;
    color: #FFFFFF;
}
.bg_red{
    background-color: #e53333;
    color: #FFFFFF;
}
.font_green{
    color: #20b879;
    background-color: #FFFFFF;
}
.font_red{
    color: #e53333;
    background-color: #FFFFFF;
}
/*common-----------------------end*/

/*Page1----start*/
.pagecontent1{
    width:100%;
    height:100%;
}
table.pagecontent1 tr td{
    padding:20px;
    text-align: center;
    border:solid 1px #dcdcdc;
    width:50%;
}
/*Page 2---------start*/
.pagecontent2{
    width:100%;
    height:100%;
}
.pagecontent2 tr td{
    text-align: center;
}
.pagecontent2 tr td.left{
    width: 25%;
    text-align: right;
}
.pagecontent2 tr td.right{
    width:30%; 
    padding-right: 20px;
}
.pagecontent2 tr td.right table{
    width:100%;
}
.pagecontent2 tr td.right table td.merage{
    text-align: center;
}
.pagecontent2 tr td.right table td{
    text-align: left;
    color:#000000; 
    border-bottom: dotted 2px #dcdcdc;
    font-size:2em;
    font-weight: bold;
}
.pagecontent2 tr td.right table td.defname{
    width:400px;
    overflow: hidden;
}
.pagecontent2 tr td.right table td.defval{
    color: #ff0000;
}

.pagecontent2 tr td.styleimg{
    width: 45%;
    text-align:left;
    position: relative;
    padding: 50px 30px;
}
.pagecontent2 tr td.styleimg img{
    height:100%;
}
.styleimg>span{
    position: absolute;
    color: red;
    font-size:2em;
}

/*Page 3---------Start*/
.pagecontent3{
    width:100%;
    height:100%;
}
table.pagecontent3 tr td{
    padding:20px;
    text-align: center;
    border:solid 1px #dcdcdc;
    width:50%;
}
/*Page 4---------Start*/
.pagecontent4{
    width:100%;
    height:100%;
}
table.pagecontent4 tr td{
    padding:20px;
    text-align: center;
    border:solid 1px #dcdcdc;
    width:50%;
}
/*Page 5------------Start*/
.pagecontent5{
    width:100%;
    height:100%;
    display: -webkit-box; 
}
.pagecontent5>div{
    width: 50%;
    min-height:900px;
}
.pagecontent5>div:nth-child(1){
    border-right: solid 3px #DCDCDC;
}
.pagecontent5>div.chart_bottom{
    height:100%;
}
.pagecontent5>div.chart_bottom>div{
    height:50%;
    min-height:450px;
}
.pagecontent5>div.chart_bottom>div:nth-child(1){
    border-bottom: solid 3px #DCDCDC;
}
/*Page 6------------Start*/
.pagecontent6{
    width:100%;
    height:100%;
    padding:5% 10%;
}
.pagecontent6>div{
    width:100%;
    height:100%;
}
.font_x2.col-lg-6{
    font-size: 10em;
}
/*Page 7------------Start*/
.pagecontent7{
    width:100%;
    height:100%;
    padding:5% 10%;
}
.pagecontent7>div{
    width:100%;
    height:100%;
}
/*Page 8------------Start*/
.pagecontent8{
    width:100%;
    height:100%;
    min-width: 1366px;
}
.pagecontent8 div,th,td {
    font-family:'微软雅黑', '黑体', '宋体';
    color: #fff;
    font-size: 1.6em;
}
#SW_Live{
    width: 100%;
    height:100%;
}
.pagecontent8>div.cen-bottom{
    width:100%;
    height: calc(100% - 105px);
    /*border-radius: 4px;*/
    box-sizing: border-box;
    position: relative;
    position: relative; 
} 
.pagecontent8 .sw_live_table{
    width: 100%;
    height:100%;
    display: none;
}
.pagecontent8 .sw_live_table.actived{
    width: 100%;
    height:100%;
    display: table;
}

.pagecontent8 tr.tr_row>td{
    color: #ff0000; 
    font-size:5em;
    font-weight: bold;
    border: solid 1px #dcdcdc; 
    text-align: center;
}
.pagecontent8 tr.tr_row.row1>td{color: #ff0000;height:25%;} 
.pagecontent8 tr.tr_row.row2>td{color: #ff0000;height:25%;}
.pagecontent8 tr.tr_row.row3>td{color: #ff0000;height:50%;}

.pagecontent8 tr.tr_row>td.td_title{
    font-size:4em;
    color:#ffffff;
    background-color:#20b879; 
}
.pagecontent8 tr.tr_row.row2>td:nth-child(1).td_title{background-color:#011627;width:25%;}
.pagecontent8 tr.tr_row.row2>td:nth-child(2).td_title{background-color:#20b879;width:25%;}
.pagecontent8 tr.tr_row.row2>td:nth-child(3).td_title{background-color:#ff0000;width:25%;}
.pagecontent8 tr.tr_row.row2>td:nth-child(4).td_title{background-color:#791E94;width:25%;}

.pagecontent8 tr.tr_row.row3>td:nth-child(1){color:#011627;font-size:8em;}
.pagecontent8 tr.tr_row.row3>td:nth-child(2){color:#20b879;font-size:8em;}
.pagecontent8 tr.tr_row.row3>td:nth-child(3){color:#ff0000;font-size:8em;}
.pagecontent8 tr.tr_row.row3>td:nth-child(4){color:#791E94;font-size:8em;}

.pagecontent8 img.bj-1{
    position: absolute;
    left:-1px;
    top:-1px;
}
.pagecontent8 img.bj-2{
    position: absolute;
    right:-1px;
    top:-1px;
}
.pagecontent8 img.bj-3{
    position: absolute;
    right:-1px;
    bottom:-1px;
}
.pagecontent8 img.bj-4{
    position: absolute;
    left:-1px;
    bottom:-1px;
} 
/*Page 8------------End*/

/*Page 9------------Start*/
.pagecontent9{
    width:100%;
    height:100%;
    min-width: 1366px;
} 
.pagecontent9>div{
    height:50%;
    min-height:450px;
}
/*Page 9------------End*/

