html,body{
    margin:0px;
    padding:0px;
    width: 100%;
    height:100%;
    overflow: hidden;
}
html,body,div,span,label,a,h1,h2,h3,h4,h5,h6,tr,td{
    font-family:'微软雅黑','黑体','宋体';
    color:#222222;
}
.font_x1{
    font-size: 20em;
    font-weight: bold;
}
.font_x2{
    font-size: 16em;
    font-weight: bold;
}
.font_x3{
    font-size: 10em;
    font-weight: bold;
}
.font_x4{
    font-size: 5em;
    font-weight: bold;
}
.font_x5{
    font-size: 3em;
    font-weight: bold;
}

div.main{
    height:100%;
    width:100%;
}
.pageitem{
    width: 100%;
    height:100%;
    display: none;
    position: absolute;
    left:0px;
    top:0px;
}
.pageitem.actived{
    display: block;
}
/*common-----------------------start*/
.bg_green{
    background-color: #20b879;
    color: #FFFFFF;
}
.bg_red{
    background-color: #e53333;
    color: #FFFFFF;
}
.font_green{
    color: #20b879;
    background-color: #FFFFFF;
}
.font_red{
    color: #e53333;
    background-color: #FFFFFF;
}
/*common-----------------------end*/

/*Page1----start*/
.pagecontent1{
    width:100%;
    height:100%;
}
table.pagecontent1 tr td{
    padding:20px;
    text-align: center;
    border:solid 1px #dcdcdc;
    width:50%;
}
/*Page 2---------start*/
.pagecontent2{
    width:100%;
    height:100%;
}
.pagecontent2 tr td{
    text-align: center;
}
.pagecontent2 tr td.left{
    width: 35%;
    text-align: right;
}
.pagecontent2 tr td.right{
    width: 65%;
    text-align:left;
    position: relative;
    padding: 50px 50px;
}
.pagecontent2 tr td.right img{
    height:100%;
}
.styleimg>span{
    position: absolute;
    color: red;
    font-size:2em;
}

/*Page 3---------Start*/
.pagecontent3{
    width:100%;
    height:100%;
}
table.pagecontent3 tr td{
    padding:20px;
    text-align: center;
    border:solid 1px #dcdcdc;
    width:50%;
}
/*Page 4---------Start*/
.pagecontent4{
    width:100%;
    height:100%;
}
table.pagecontent4 tr td{
    padding:20px;
    text-align: center;
    border:solid 1px #dcdcdc;
    width:50%;
}
/*Page 5------------Start*/
.pagecontent5{
    width:100%;
    height:100%;
    padding:5% 10%;
}
.pagecontent5>div{
    width:100%;
    height:100%;
}
/*Page 6------------Start*/
.pagecontent6{
    width:100%;
    height:100%;
    padding:5% 10%;
}
.pagecontent6>div{
    width:100%;
    height:100%;
}
/*Page 7------------Start*/
.pagecontent7{
    width:100%;
    height:100%;
    padding:5% 10%;
}
.pagecontent7>div{
    width:100%;
    height:100%;
}
/*Page 8------------Start*/
.pagecontent8{
    width:100%;
    height:100%;
    padding:1% 1%;
    /* background: url(../images/dashboard/map_bg.png) center; */
    min-width: 1366px;
}
.pagecontent8 div,th,td {
    font-family:'微软雅黑', '黑体', '宋体';
    color: #fff;
    font-size: 1.6em;
}
.pagecontent8>.data-title {
    width: 100%;
    height: 115px;
    padding: 30px 0 35px 0;
    box-sizing: border-box;
}
.pagecontent8>.data-title>.fl{
    float: left;
}
.pagecontent8>.data-title>.fr{
    float: right;
    text-align: right;
    color: #20b879;
}
.pagecontent8>.data-title>.title-center{
    width: 600px;
    height: 50px;
    box-sizing: border-box;
    /* background: url("../images/dashboard/title.png") no-repeat; */
    background-image: linear-gradient(180deg,#666666,#000000);
    -webkit-background-clip:text;
    color: transparent;
    font-size:2em;
    font-weight: bold;
    line-height: 50px;
    text-align: center;
}
#SW_Live{
    width: 100%;
    height:100%;
}
.pagecontent8>.data-title>.title-left,
.pagecontent8>.data-title>.title-right{
    width:calc(50% - 300px);
    height: 50px;
    /* background: #0089ff;
    margin-top: 23px; */
}
.pagecontent8>div.cen-bottom{
    width:100%;
    height: calc(100% - 105px);
    /*border-radius: 4px;*/
    box-sizing: border-box;
    position: relative;
    position: relative; 
} 
.pagecontent8 .sw_live_table{
    width: 100%;
    height:100%;
    display: none;
}
.pagecontent8 .sw_live_table.actived{
    width: 100%;
    height:100%;
    display: table;
}

.pagecontent8 tr.tr_row>td{
    color: #ff0000; 
    font-size:4em;
    font-weight: bold;
    border: solid 1px #dcdcdc; 
    text-align: center;
}
.pagecontent8 tr.tr_row.row1>td{color: #ff0000;height:25%;} 
.pagecontent8 tr.tr_row.row2>td{color: #ff0000;height:25%;}
.pagecontent8 tr.tr_row.row3>td{color: #ff0000;height:50%;}

.pagecontent8 tr.tr_row>td.td_title{
    font-size:3em;
    color:#ffffff;
    background-color:#20b879; 
}
.pagecontent8 tr.tr_row.row2>td:nth-child(1).td_title{background-color:#20b879;width:33.33%;}
.pagecontent8 tr.tr_row.row2>td:nth-child(2).td_title{background-color:#ff0000;width:33.33%;}
.pagecontent8 tr.tr_row.row2>td:nth-child(3).td_title{background-color:#20b879;width:33.33%;}

.pagecontent8 tr.tr_row.row3>td:nth-child(1){color:#20b879;font-size:6em;}
.pagecontent8 tr.tr_row.row3>td:nth-child(2){color:#ff0000;font-size:6em;}
.pagecontent8 tr.tr_row.row3>td:nth-child(3){color:#20b879;font-size:6em;}

.pagecontent8 img.bj-1{
    position: absolute;
    left:-1px;
    top:-1px;
}
.pagecontent8 img.bj-2{
    position: absolute;
    right:-1px;
    top:-1px;
}
.pagecontent8 img.bj-3{
    position: absolute;
    right:-1px;
    bottom:-1px;
}
.pagecontent8 img.bj-4{
    position: absolute;
    left:-1px;
    bottom:-1px;
} 
/*Page 8------------End*/
